{
  "waypoints": [
    {
      "name": "start_finish",
      "active": 1,
      "p1": { "lat": 28.613391, "lng": -81.179126 },
      "p2": { "lat": 28.613467, "lng": -81.179126 }
    },
    {
      "name": "sector_1",
      "active": 1,
      "p1": { "lat": 28.61392242, "lng": -81.17897079 },
      "p2": { "lat": 28.61392980, "lng": -81.17906224 }
    },
    {
      "name": "sector_2",
      "active": 1,
      "p1": { "lat": 28.61364765, "lng": -81.17963668 },
      "p2": { "lat": 28.61365188, "lng": -81.17954403 }
    }
  ]
}